@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: uppercase;
    transition: all ease .2s ease-out;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;

}
section{
    padding: 2rem 9%;

}
.header{
    padding: 0.5rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0.2rem 1rem rgb(0,128,128);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #060458;
}

.header .logo {
    font-size: 3rem;
    color: #fdfcfb;
    text-decoration: none;
   
}


.header a span{
    color: #f07606;
}
.header .navbar .btn{
   
    margin-top: 0.2rem;
    padding: 0.5rem;
    display:inline-block ;
    padding-left: 1rem;
    border-radius: 0.5rem;
    color: #fdfcfb;
    background-color: #f07606;
    cursor: pointer;
    font-size: 1rem;
    border: 0.1rem solid orange;
  
}

.header .navbar .btn:hover{
    color: lightcyan ;
    background-color: blue;
    font-size:1rem;
    border-radius: 0.5rem;
}
#menu-btn{
    font-size: 2.5rem;
    color:royalblue;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}




.career .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:8rem;
    margin-top: 5rem;
    height: 50rem;

}

.career .box-container .box{
    text-align: center;
    background-color: #060458;
    border-radius: 0.5rem;
    padding: 2rem;
   
}


.career .box-container .box img{
    height: 20rem;
    width: 27rem;

    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.career .box-container .box h3{
    color: #f07606;
    font-size: 2.5rem;
}

.career .box-container .box span{
    color: #fdfcfb;
    font-size: 1.3rem;
    text-transform: lowercase;
    margin-bottom: rem;
}

.career .box-container .box .share  a{

    color: #060458;
    border-radius:0.5rem ;
    border:0.1rem solid  blue;
   background-color: #f07606;

}

.career .box-container .box .share a:hover{
    background: gold;
    color:blue ;
    border-radius: 0.5rem;

}
.career .btn{
    margin-top: rem;
    margin-left: 30rem;
    align-items: center;
}


.footer{
    background: #060458;
    margin-top: 7.8rem;
    margin-bottom: 0;
    align-items: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
gap: 0.3rem;
    align-items: center;
   
}

.footer .box-container .box h3{
    font-size: 1.5rem;
    color: #f07606;
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
 font-size: 0.9rem;
    color: dark cyan;
 

}
.footer .box-container .box a i{
    padding-right: 0.5rem;
    color: #fdfdfd;;
    text-transform: lowercase;
}
.footer .box-container .box a:hover {
    padding-right: 2rem;
}

.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .row .image{
    flex: 1 1 45rem;
}

.contact .row .image img{
    width: 100%;
}
.contact .row form{
    flex: 1 1 45rem; 
    border:0.1rem solid #060458; 
    box-shadow: black;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

.contact .row form h3{
    color: #060458;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.contact .row form .box{
    width: 100%;
    margin: 0.7rem 0;
    border-radius: 0.5rem;
    border:0.1rem solid #060458; 
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    padding: 1rem;
}

.contact .row form .btn{
    padding: 1rem 3rem;
    border: 0.1rem solid #060458;
    border-radius: 0.5rem;
    background-color: #f07606;
}